## Practice Questions - Strings & Data Structures

#### Question 1: 

Given an original list consiting of values: 22, 41, 33, 66, 8, 12 and 90. Use **append(), extend(), insert(), and concatenation** to add the values 32, 45, 16 and 11 to the list.

In [3]:
lst = [22,41,33,66,8,12,90]
lst.append(32)
lst.insert(0,45)
lst1 = [16]
lst.extend(lst1)
lst2 = [11]
res_lst = lst + lst2
res_lst

[45, 22, 41, 33, 66, 8, 12, 90, 32, 16, 11]

#### Question 2: 

Write a Python program that tests whether a list is empty or not. Repeat the task for testing an empty string.

In [4]:
def len_list(lst):
    if len(lst) == 0:
        return "List is empty"
    else:
        return lst
len_list([])

'List is empty'

#### Question 3: 

- How many times does "dream" appear in the text?

- Where is this text from? 

- Create a python code to print the text.

Dream on\
Dream on\
I dream on\
Dream a little, I'll dream on\
Dream on\
I dream on\
I dream on

Dream a little, I'll dream on\
Dream on\
Dream on\
Dream on\
I'll dream on\
Dream on\
Dream on\
I dream on

In [13]:
import re
stri = """Dream on 
Dream on
I dream on
Dream a little, I'll dream on
Dream on
I dream on
I dream on

Dream a little, I'll dream on
Dream on
Dream on
Dream on
I'll dream on
Dream on
Dream on
I dream on"""
stri = re.split(' |\n', stri)
stri
count = 0
for i in stri:
    if i.lower() == 'dream':
        count+=1
print(count)

17

#### Question 4: 

Create a dictionary, with keys being the name of employees: Oliver, Myers, Noah and Fallon. 

Add the values age (random - between 40 and 60), income (random between 100,000 and 150,000) and rating (random between 3.0 and 5.0)

In [17]:
import random
dict1 = {"Oliver":{"age": random.randint(40,60), "income":random.randint(100000,150000), "rating": random.randrange(3.0,5.0)},
        "Myers" : {"age": random.randint(40,60), "income":random.randint(100000,150000), "rating": random.randrange(3.0,5.0)},
        "Noah":{"age": random.randint(40,60), "income":random.randint(100000,150000), "rating": random.randrange(3.0,5.0)},
        "Fallon":{"age": random.randint(40,60), "income":random.randint(100000,150000), "rating": random.randrange(3.0,5.0)}}
dict1

{'Oliver': {'age': 57, 'income': 115837, 'rating': 3},
 'Myers': {'age': 41, 'income': 117596, 'rating': 3},
 'Noah': {'age': 54, 'income': 139666, 'rating': 4},
 'Fallon': {'age': 46, 'income': 141306, 'rating': 4}}

#### Question 5: 

Create the following student data into 2 sub dictionaries based on the scores. (score <= 10 & score > 10)

In [20]:
students = {"student_1" : 13 , "student_2" : 17 , "student_3" : 9 , "student_4" : 15 , "student_5" : 8 , "student_6" : 14 , 
            "student_7" : 16 , "student_8" : 12 , "student_9" : 13 , "student_10" : 15 , "student_11" : 14 , "student_112" : 9 , 
            "student_13" : 10 , "student_14" : 12 , "student_15" : 13 , "student_16" : 7 , "student_17" : 12 , "student_18" : 15 , 
            "student_19" : 9 , "student_20" : 17 ,}
pairs = students.items()
students_lt_10 = {key: value for key, value in pairs if value <= 10}
students_gt_10 = {key: value for key, value in pairs if value > 10}
print(students_lt_10)
print(students_gt_10)

{'student_3': 9, 'student_5': 8, 'student_112': 9, 'student_13': 10, 'student_16': 7, 'student_19': 9}
{'student_1': 13, 'student_2': 17, 'student_4': 15, 'student_6': 14, 'student_7': 16, 'student_8': 12, 'student_9': 13, 'student_10': 15, 'student_11': 14, 'student_14': 12, 'student_15': 13, 'student_17': 12, 'student_18': 15, 'student_20': 17}

#### Question 6: 


Write a python program that asks the user to enter an integer n and return a dictionary whose keys are integers 1, 2, 3, ... n and whose values ​​are 1! , 2! , 3! , … , n!

In [21]:
import math
def create_dict(n):
    dict1={}
    for i in range(1,n+1):
        dict1[i] = math.factorial(i)
    return dict1
create_dict(5)

{1: 1, 2: 2, 3: 6, 4: 24, 5: 120}

#### Question 7: 
    
Write a program to identify the largest word in a string.

In [28]:
stri = "A largest brown fox"
lst = stri.split(" ")
dict1 = {}
for i in lst:
    dict1[i] = len(i)
max_key = max(dict1, key=dict1.get)
max_key

'largest'

#### Question 8: 
    
Given an integer array, write a program to identify all the rows with values greater than the mean of the entire data.

In [40]:
lst = [[1,2,3], [3,2,6], [5,7,9]]
lst1 = []
total_sum = 0
count = 0
for i in range(0,len(lst)):
    for j in range(0, len(lst[i])):
        total_sum += lst[i][j]
        count+=1
avg = total_sum/count
for m in range(0,len(lst)):
    for n in range(0, len(lst[m])):
        if lst[m][n] > avg:
            lst1.append(m)
            break;
for i in lst1:
    print(lst[i])

[3, 2, 6]
[5, 7, 9]

#### Question 9: 
    
Given an array of strings, write a program to create a new array which contains the lengths of the strings in ascending order

In [32]:
lst = ["an", "dogs", "are"]
lst1 = []
for i in lst:
    lst1.append(len(i))
sorted(lst1)

[2, 3, 4]

#### Question 10: 
    
Write a program to calculate the sum of the diagonal elements of a **n X n** matrix.

In [37]:
n = [[1,2,3],[3,2,1],[1,3,2]]
count=0
for i in range(0,len(n)):
    for j in range(0,len(n[i])):
        if i == j:
            count+=n[i][j]
count

5